body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f0f0f0;
}

.back-to-main-button {
    padding: 10px 20px;
    background-color: #808080;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 10px;
    left: 10px;
}

    .back-to-main-button:hover {
        opacity: 0.9;
    }

    .back-to-main-button:focus {
        outline: none;
    }

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#formdiv {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    #formdiv label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
    }
    #formdiv input[type="password"],
    #formdiv input[type="number"],
    #formdiv input[type="text"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #formdiv button.toggle-password {
        padding: 8px;
        margin-left: 5px;
        margin-bottom: 15px;
        font-size: 14px;
        color: #333;
        background-color: #ddd;
        border-radius: 4px;
        cursor: pointer;
        width: 110px;
    }
    #formdiv .toggle-password {
        padding: 8px;
        background-color: #ddd;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
    }
    #formdiv .toggle-password:hover {
        background-color: #ccc;
    }

    #formdiv button {
        width: 100%;
        padding: 10px;
        background-color: #2196F3;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
        #formdiv button:hover {
            background-color: darkblue;
        }
.password-container {
    display: flex;
    align-items: center;
}

table button {
    padding: 1px;
    margin: 5px;
}


#updateFormDiv {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    #updateFormDiv label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
    }

    #updateFormDiv input[type="text"],
    #updateFormDiv input[type="number"],
    #updateFormDiv input[type="password"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #updateFormDiv button {
        width: 100%;
        padding: 10px;
        background-color: #2196F3;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

        #updateFormDiv button:hover {
            background-color: darkblue;
        }
